/* navbar start*/
.container{
	width: 85%;
}
.navbar-brand img{
	height: 50px;
}
.nav-link {
	
	font-size: 14px;
	margin-right: 20px;
}

/* navbr end  */

/* carousel slide strt  */
.btn{
	
	border-radius: 5px;
}
.content{
	width: 85%;
	margin-left: 10px;
	padding: 50px;
}
..content p{
	colore:gray;
}

/* carousel slie End  */
.card img{
	height: 310px;
	width: 250px;
	margin: 10px auto;
}
.name{
	margin-top: 150px;
	margin-bottom: 10px;
}
.card-footer{
	background-color:white;
	border: none;
}
.card{
	border: none;
	box-shadow: 0px 0px 20px lightgray;
	border-radius: 10px;
}
.laptop img{
	width:280px;
	height:220px;
	margin-top: 50px;
}



/* catagories  */
.iv{

	margin-top: 150px;
	margin-bottom: 50px;
}


.bag{
	width:220px;
	height:230px;
    margin-top:20px;
	margin-bottom: 20px;
	border-radius: 10px 0px 10px 0px;
	box-shadow: 0px 0px 50px lightgrey;	
}
.bag p{
 display:block;
 text-align: center;
 margin: 0px auto 0px;
 padding-top: 18px;
	
}

.kkn img{
	margin: 10px auto 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 130px;
    height: 130px;
	display: block;
	padding-top: 20px;

}
.cat img{
	width:506px;
	height: 388px;
	margin-left: 20px ;
	
}



.footer{
	margin:100px auto ;
}